@model List<Submission>


@{
    ViewData["Title"] = "My Test Results";
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">All Test Result</h2>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Name</th>
                <th>Topic</th>
                <th>Quiz_Id</th>
                <th>Score</th>
                <th>SubmittedAt</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            @{
                //razor syntax
                int srNo = 1;  // Initialize the serial number
            }
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@srNo</td>
                    <td>@obj.UserName</td>
                    <td>@obj.Topic</td>
                    <td>@obj.Quiz_Id</td>
                    <td>@obj.Score</td>
                    <td>@obj.SubmittedAt</td>
                    <td>@obj.Result</td>
                </tr>
                srNo++;
            }
        </tbody>
    </table>

</div>




